
@font-face {
    font-family: 'titillium-light';
    src: url('../fonts/titillium_web/TitilliumWeb-Light.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-Light.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-Light.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-Light.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-lightitalic';
    src: url('../fonts/titillium_web/TitilliumWeb-LightItalic.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-LightItalic.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-LightItalic.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-LightItalic.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-LightItalic.svg#TitilliumWeb-LightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'titillium';
    src: url('../fonts/titillium_web/TitilliumWeb-Regular.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-Regular.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-italic';
    src: url('../fonts/titillium_web/TitilliumWeb-Italic.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-Italic.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-Italic.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-Italic.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'titillium-semibold';
    src: url('../fonts/titillium_web/TitilliumWeb-SemiBold.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBold.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBold.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-semibold-italic';
    src: url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.eot');
    src: url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.woff') format('woff'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/titillium_web/TitilliumWeb-SemiBoldItalic.svg#TitilliumWeb-SemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


html, body{
	background-color: #fff;
	color: #555555;
	font-family: 'titillium', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body > .container-fluid{
	max-width: 1200px;
	min-width: 320px;
	padding: 0;
}

header{
	background-color: #d6012e;
	color: #fff;
	height: 225px;
	position: relative;
}

header h1{
	display: none;
}

header #logo{
	margin: 0;
	padding: 0;
	text-align: center;
}

header #logo a{
	background-image: url("../img/logo_milano_ori.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	padding: 0;
	height: 90px;
	width: 183px;
	display: block;
	position: relative;
	top: 55px;
}

@media (min-width: 600px){
	header #logo a{
		background-image: none;
		position: absolute;
		left: 40px;
		bottom: 15px;
		height: 150px;
		width: 95px;
	}
}

header #logo img{
	display: none;
}

@media (min-width: 600px){
	header #logo img{
		display: block;
	}
}

header .social{
	background-color: #555;
	color: #fff;
	position: absolute;
	height: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 5px solid #fff;
	text-align: right;
}

header .social li{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

header .social li a{
	background-image: url("../img/icona_fb.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 6px;
	margin-top: 4px;
}

header .social li.twitter a{
	background-image: url("../img/icona_twitter.png");
}

header .social li.youtube a{
	background-image: url("../img/icona_youtube.png");
}

header .social li.instagram a{
	background-image: url("../img/icona_instagram.png");
}

header .social li.tuttisocial a{
	background-image: url("../img/icona_altro.png");
}

header .social li.contatti a{
	background-color: #d6012e;
	color: #fff;
	background-image: none;
    font-family: 'titillium-semibold';
	font-size: 0.9em;
	width: auto;
	height: auto;
	text-indent: 0;
	white-space: normal;
	overflow: visible;
	margin: 0 10px 0 40px;
	padding: 0 10px;
	position: relative;
	top: -6px;
}

@media (min-width: 360px){
	header .social li.contatti a{
		margin: 13px 10px 0 80px;
	}
}

header .social li.contatti a strong{
	font-weight: normal;
	text-transform: uppercase;
}


header form{
	background-color: #fff;
	color: #555;
	clear: both;
	margin: 0 auto;
	position: relative;
	top: 70px;
	width: 80%;
	border-radius: 0 4px 4px 0;
}

@media (min-width: 600px){
	header form{
		width: 305px;
		position: absolute;
		top: 110px;
		right: 40px;
	}
}

header form p{
	margin: 0;
	padding: 0;
	min-height: 38px;
	vertical-align: middle;
}

header form label{
	display: none;
}

header form input[type="text"]{
	width: calc( 100% - 38px);
	line-height: 40px;
	min-height: 40px;
	border: 0;
	padding: 0 12px;
}

@media (min-width: 768px){
	header form input[type="text"]{
		width: 260px;
	}
}

header form input[type="text"]::-webkit-input-placeholder {
	font-family: 'titillium-italic', Helvetica, Arial, sans-serif;
}

header form input[type="text"]::-moz-placeholder {
	font-family: 'titillium-italic', Helvetica, Arial, sans-serif;
}

header form input[type="text"]:-ms-input-placeholder {
	font-family: 'titillium-italic', Helvetica, Arial, sans-serif;
}

header form input[type="text"]:-moz-placeholder {
	font-family: 'titillium-italic', Helvetica, Arial, sans-serif;
}

header form .btn{
	background-color: #555;
	color: #fff;
	border: 0;
	display: block;
	float: right;
	width: 38px;
	height: 40px;
	border-radius: 0 !important;
	padding: 0;
}

header form  .btn:before{
	content: "\e003";
	font-family: "Glyphicons Halflings";
	font-size: 1.8em;
}

header form  .btn:hover{
	background-color: #DDDDDD;
	color: #d6012e;
}

header form  .btn span{
	display: none;
}

#contenuto{
	padding: 20px 40px 0;
}

@media (min-width: 600px){
	#contenuto{
		padding: 40px 40px 0;
	}
}

#contenuto h2{
	font-family: 'titillium-semibold';
	font-size: 3.8em;
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}

@media (min-width: 600px){
	#contenuto h2{
		text-align: left;
	}
}

#contenuto h3{
	font-family: 'titillium-semibold';
	font-size: 2.3em;
	margin: 0;
	padding: 0 0 10px;
}

#contenuto #intro{
	font-family: 'titillium-semibold';
	font-size: 1.1em;
	margin: 0;
	padding: 0 0 50px;
}

#news_slider{
	margin-bottom: 55px;
	margin-top: 15px;
	border: 0;
	padding: 50px 30px 0;
	border-top: 1px solid #d6012e;
}

@media (min-width: 768px) {
	#news_slider{
		margin-top: 0;
	}
}


#news_slider .item .carousel-caption{
	width: 50%;
	top: 0;
	right: 0;
	left: 50%;
	bottom: 0;
	text-align: left;
	padding: 0;
}

#news_slider .item > a > img{
	width: 50%;
}

#news_slider .item .carousel-caption h4{
	background-color: inherit;
	color: #555555;
	padding: 0 20px;
	margin: 0 0 15px;
	font-weight: normal;
	font-family: 'titillium-semibold';
	font-size: 1.8em;
	text-shadow: none;
	text-align: left;
}

@media (min-width: 600px) {
	#news_slider .item .carousel-caption h4{
	font-size: 2.3em;
	}
}

#news_slider .item .carousel-caption h4 a{
	background-color: inherit;
	color: #555555;
}

#news_slider .item .carousel-caption p{
	background-color: inherit;
	color: #555555;
	display: none;
	text-shadow: none;
	padding: 0 20px;
}

@media (min-width: 768px) {
	#news_slider .item .carousel-caption p{
		display: block;
	}
}

#news_slider .carousel-indicators{
	bottom: -40px;
}

#news_slider .carousel-indicators li{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #555555;
	transition: all, 0.8s;
}

#news_slider .carousel-indicators li.active{
	background-color: #555555;
	color: #fff;
}

#news_slider .carousel-indicators li:hover{
	background-color: #555555;
	color: #fff;
	width: 12px;
	height: 12px;
}

#news_slider .carousel-control{
	background-image: none;
	width: 8%;
}

@media (min-width: 768px) {
	#news_slider .carousel-control{
		background-image: none;
		width: 5%;
	}
}

#news_slider .carousel-control span{
	background-color: #fff;
	color: #555555;
	text-shadow: none;
	top: 55%;
}

@media (min-width: 768px) {
	#news_slider .carousel-control span{
		background-color: #fff;
		color: #555555;
	}
}

#news_slider .carousel-control .glyphicon-chevron-left{
	margin-left: -30px;
}

#news_slider .carousel-control .glyphicon-chevron-right{
	margin-right: -30px;
}

#contenuto #dati{
	margin-bottom: 30px;
}

@media (min-width: 600px){
	#contenuto #dati{
		margin-bottom: 40px;
	}
}

#contenuto #dati > div{
	width: 100%;
	margin-bottom: 20px;
}

#contenuto #dati > div h3{
	text-align: center;
}

#contenuto #dati > div p{
	background-color: #fff;
	color: #555;
	text-align: center;
}

#contenuto #dati > div p a{
	background-color: #d6012e;
	color: #fff;
	font-family: 'titillium-semibold';
	text-align: center;
	text-transform: uppercase;
	padding: 5px 15px;
}

@media (min-width: 600px){
	#contenuto #dati > div{
		display: table;
		width: 100%;
		border-bottom: 1px solid #d6012e;
		margin-bottom: 35px;
	}

	#contenuto #dati > div h3{
		text-align: left;
		display: table-cell;
	}

	#contenuto #dati > div p{
		background-color: #fff;
		color: #555;
		display: table-cell;
		vertical-align: bottom;
		padding-left: 16px;
		position: relative;
		bottom: -1px;
		width: 175px;
	}

	#contenuto #dati > div p a{
		display: block;
	}
}

#contenuto #dati ul{
	margin: 0 -4% 0 0;
	padding: 0;
	list-style: none;
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#contenuto #dati ul li{
	list-style: none;
	min-height: 220px;
	flex: 0 0 100%;
	margin:  0 0 20px 0;
	padding: 0;
	position: relative;
	border-bottom: 6px solid #d6012e;
}

@media (min-width: 400px){

	#contenuto #dati ul{
		margin: 0 -4% 0 0;
	}

	#contenuto #dati ul li{
		flex: 0 0 46%;
		margin:  0 4% 10px 0;
	}
}

@media (min-width: 600px){

	#contenuto #dati ul{
		margin: 0 -2% 0 0;
	}

	#contenuto #dati ul li{
		flex: 0 0 31.33%;
		margin:  0 2% 10px 0;
	}
}

@media (min-width: 768px){
	#contenuto #dati ul li{
		flex: 0 0 23%;
	}
}

@media (min-width: 1024px){
	#contenuto #dati ul li{
		flex: 0 0 18%;
	}
}

#contenuto #dati ul li p{
	height: 220px;
	width: 100%;
}

#contenuto #dati ul li p a{
	background-image: url("../img/icone/agricoltura.png");
	background-position: center 26px;
	background-repeat: no-repeat;
	height: 220px;
	width: 100%;
	display: block;
	display: table;
	padding-top: 130px;
}

#contenuto #dati ul li a:hover{
	background-color: #ddd;
}

#contenuto #dati ul li.economia a{
	background-image: url("../img/icone/economia.png");
}

#contenuto #dati ul li.istruzione a{
	background-image: url("../img/icone/istruzione.png");
}

#contenuto #dati ul li.energia a{
	background-image: url("../img/icone/energia.png");
}

#contenuto #dati ul li.ambiente a{
	background-image: url("../img/icone/governo.png");
}

#contenuto #dati ul li.governo a{
	background-image: url("../img/icone/ambiente.png");
}

#contenuto #dati ul li.salute a{
	background-image: url("../img/icone/salute.png");
}

#contenuto #dati ul li.internazionale a{
	background-image: url("../img/icone/internazionale.png");
}

#contenuto #dati ul li.giustizia a{
	background-image: url("../img/icone/giustizia.png");
}

#contenuto #dati ul li.regioni a{
	background-image: url("../img/icone/regioni.png");
}

#contenuto #dati ul li.popolazione a{
	background-image: url("../img/icone/popolazione.png");
}

#contenuto #dati ul li.scienza a{
	background-image: url("../img/icone/scienza.png");
}

#contenuto #dati ul li.trasporti a{
	background-image: url("../img/icone/trasporti.png");
}

#contenuto #dati ul li p a span{
	background-color: #DDDDDD;
	color: #555;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px;
	font-size: 1.15em;
}

#copy{
    font-family: 'titillium-italic';
	font-size: 0.7em;
	text-align: center;
}

@media (min-width: 600px){
	#copy{
		text-align: left;
	}
}

#copy a{
    background-color: inherit;
	color: #fff;
	text-decoration: underline;
}

#copy a:hover{
	text-decoration: none;
}

/* START BOX EVIDENZA */

.container-fluid{
	margin: 0 auto;
}
.boxevidenza .container-fluid{
    background-color: #DDDDDD;
    color: #555;
	max-width: 1120px;
	min-width: 320px;
	min-width: 240px;
	padding: 40px 40px 16px;
	margin: 0 auto;
	min-height: 400px;
}

.boxevidenza .container-fluid h2{
	display: block;
	margin-bottom: 20px
}

.boxevidenza .lista{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.boxevidenza .lista li{
	background-color: #fff;
	color: inherit;
	border-radius: 4px;
	list-style: none;
	display: block;
	margin-bottom: 24px;
	clear: right;
	float: left;
	position: relative;
}

@media (min-width: 768px){
	.boxevidenza .lista li{
		min-height: 310px;
	}
}

@media (min-width: 1180px){
	.boxevidenza .lista li{
		min-height: 265px;
	}
}

.boxevidenza .lista li:nth-child(2n+1){
	margin-left: 0;
	clear: left;
}

.boxevidenza .lista li article{
	float: left;
	padding-top: 5px;
}

@media (max-width: 768px){
	.boxevidenza .lista li{
		margin: 0 0 24px;
		width: 100% !important;
	}
}

.boxevidenza .lista li  article .autore{
	background-color: inherit;
	color: #555;
	font-family: 'titillium-semibold';
	padding: 10px 20px 0;
	margin: 0;
}

.boxevidenza .lista li  article .autore a{
	background-color: inherit;
	color: #555;
	text-decoration: none;
}

.boxevidenza .lista li  article h3{
	background-color: inherit;
	color: #000;
    font-family: 'titillium-semibold';
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2em;
	padding: 0 20px;
	margin: 7px 0;
}

.boxevidenza .lista li  article h3 a{
	background-color: inherit;
	color: #000;
	text-decoration: none;
}

.boxevidenza .lista li  article h3 a:hover{
	text-decoration: underline;
}

.boxevidenza .lista li  article .intro{
	padding: 0 20px;
}

@media (min-width: 768px){
	.boxevidenza .lista li  article .intro{
		overflow: auto;
		height: 90px;
	}
}

.boxevidenza .lista li  article .info{
	border-top: 6px solid #DDDDDD;
	margin: 0;
}

@media (min-width: 768px){
	.boxevidenza .lista li  article .info{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.boxevidenza .lista li  article .info .coordinate{
	background-color: inherit;
	color: #555;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}

.boxevidenza .lista li  article .info .coordinate:hover{
	text-decoration: none;
}

.boxevidenza .lista li  article .info .coordinate span{
	display: block;
}

.boxevidenza .lista li  article .info .coordinate img{
	width: 40px;
	margin: 5px 10px 0 0;
}

.boxevidenza.background-contenuto ul.info{
	margin: 0 0 30px;
	padding: 15px 0 0;
    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center top;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	list-style: none;
}

.boxevidenza.background-contenuto ul.info li{
	margin: 5px 0;
	padding: 0;
	font-size: 1em;
	font-weight: 600;
}

.boxevidenza.background-contenuto ul.info li:last-child{
    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	padding-bottom: 20px;
}

.boxevidenza.background-contenuto ul.info .numpubblicazione{
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #000;
}

.boxevidenza.background-contenuto ul.info .stato em{
	background-color: inherit;
	color: #AB141A;
}

.boxevidenza.background-contenuto #contenutoextra{
	margin-bottom: 20px;
}

.boxevidenza.background-contenuto #contenutoextra .accordion-heading{
	background-color: #8CBFCF;
	color: #000;
	border: 0;
}

.boxevidenza.background-contenuto #contenutoextra .accordion-heading a.accordion-toggle{
	background-color: #8CBFCF;
	color: #000;
	background-image: url(../img/icona_sopra.png);
	background-repeat: no-repeat;
	background-position: center right;
	border: 0;
	margin-right: 15px;
	text-decoration: none;
}

.boxevidenza.background-contenuto #contenutoextra .accordion-heading a.accordion-toggle.collapsed{
	background-image: url(../img/icona_sotto.png);
}

.boxevidenza.background-contenuto #contenutoextra .accordion-inner{
	background-color: #fff;
	color: #000;
}

#collapse1 {
	transition-duration: 5ms !important;
	-moz-transition-duration: 5ms !important;
	-webkit-transition-duration: 5ms !important;
	-o-transition-duration: 5ms !important;
}

/* Elementi form */

.boxevidenza.background-contenuto form{
	background-image: url(../img/icona_sotto.png);
    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center top;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	padding: 20px 0;
	width: 100%;
}

.boxevidenza.background-contenuto form.hidden_dots{
	background-image: none;
    background-image: none;
    background-size: 10px 2px;
	width: 100%;
}

.inspage .boxevidenza.background-contenuto form{
	width: calc(100% - 40px) !important;
}

.boxevidenza.background-contenuto form label{
	background-color: inherit;
	color: #555;
	font-size: 1.1em;
	font-weight: 600;
}

.boxevidenza.background-contenuto form .form-inline label{
	background-color: inherit;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	display: inline;
	padding-bottom: 4px;
	padding-top: 4px;
}

@media (min-width: 460px){
	.boxevidenza.background-contenuto form .form-inline label{
		display: inline-block;
	padding-bottom: 0;
	padding-top: 0;
	}
}

.boxevidenza.background-contenuto form input[type="text"], .boxevidenza.background-contenuto form textarea{
	box-shadow: none;
	width: calc(100% - 12px);
	border-radius: 4px !important;
}

.boxevidenza.background-contenuto form input[type="text"].input-medium{
	width: calc(100% - 12px);
}

@media (min-width: 650px){
	.boxevidenza.background-contenuto form input[type="text"].input-medium{
		width: 30%;
	}
}

.boxevidenza.background-contenuto form textarea{
	min-height: 100px;
}


.boxevidenza.background-contenuto form fieldset{
    margin-bottom: 30px;
}

.boxevidenza.background-contenuto form legend{
	background-color: inherit;
	color: #555;
	font-size: 1.1em;
	font-weight: 600;
	border: 0;
    margin-bottom: 0;
}

.boxevidenza.background-contenuto form fieldset .form-inline{
	background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	padding: 12px 0 10px;
	margin: 0;
}

.boxevidenza.background-contenuto form fieldset .form-inline label{
	background-color: inherit;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	border: 0;
}

@media (min-width: 650px){
	.boxevidenza.background-contenuto form fieldset .form-inline input[type="text"]{
		width: 30%;
		float: right;
		margin-top: -3px;
	}
}

.boxevidenza.background-contenuto form .control-group {
	position: relative;
}

.boxevidenza.background-contenuto form .control-group .help{
	position: absolute;
	top: 2.1em;
	right: -60px
}

.boxevidenza.background-contenuto form .form-inline .help{
	position: absolute;
	top: 1em;
	right: -60px
}

.boxevidenza.background-contenuto form .accordion-heading {
	position: relative;
}

.boxevidenza.background-contenuto form .accordion-heading  .help{
	position: absolute;
	top: 0.5em;
	right: -60px
}

/* Elementi .form_request form - src:form_proposta.css */

.form_request {
	margin-top: 70px;
	min-height: 50px !important
}

.form_request .container-fluid {
	min-height: 10px !important;
}

.form_request form{
	background-image: url(../img/icona_sotto.png);
    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center top;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	padding: 20px 0;
	width: 100%;
	position: relative;
	width: calc(100% - 40px) !important;
}

.form_request form a {
	text-decoration: underline;
	color: #555;

}

.form_request form .hidden{
	display: none !important;
}

.form_request form a:hover {
	color: #333;
}

.form_request form label{
	background-color: inherit;
	color: #555;
	font-size: 1.1em;
	font-weight: 600;
}

.form_request form ..form_request form-inline {
	box-sizing: content-box;
}

.form_request form ..form_request form-inline label{
	background-color: inherit;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	display: inline;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 5px;
}

@media (min-width: 650px){
	.form_request form ..form_request form-inline label{
		display: inline-block;
		padding-bottom: 0;
		padding-top: 0;
	}
}

.form_request form input[type="text"], .form_request form textarea{
	box-shadow: none;
	width: calc(100% - 12px);
	border-radius: 4px !important;
}

.form_request form input[type="email"]{
	width: calc(100% - 12px);
	max-width: 324px;
}

@media (min-width: 660px){

	.form_request form fieldset ..form_request form-inline input[type="text"]{
		width: 30%;
		float: right;
		margin-top: -3px;
	}

	.form_request form input[type="text"]{
		width: 30% !important;
	}



	.form_request form input[type="email"]{
		width: calc(100% - 12px) !important;
	}
}

.form_request form textarea{
	min-height: 100px;
}

.form_request form .autore a, .form_request form .mail a{
	background-color: inherit;
	color: #0F4DBC;
	text-decoration: underline;
	font-style: italic;
	font-weight: 600;
}

.form_request form .bottoni{
	margin-top: 30px;
}

.form_request form fieldset{
    margin-bottom: 30px;
}

.form_request form legend{
	background-color: inherit;
	color: #555;
	font-size: 1.1em;
	font-weight: 600;
	border: 0;
    margin-bottom: 0;
}

.form_request form fieldset .form_request form-inline{
	background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 0%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 10px 2px;
	padding: 12px 0 10px;
	margin: 0;
}


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 1;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks_img.png') no-repeat 0 2px;
  line-height  : 24px;
}


input[type=checkbox]:not(old) + label{
	background-position : 0 -30px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -62px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -94px;
}


.form_request form fieldset ..form_request form-inline label{
	background-color: inherit;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	border: 0;
}


.form_request form .control-group {
	position: relative;
}

.form_request form .control-group .help{
	position: absolute;
	top: 2.1em;
	right: -60px
}

.form_request form ..form_request form-inline .help{
	position: absolute;
	top: 1em;
	right: -60px
}

.form_request form .accordion-heading {
	position: relative;
}

.form_request form .accordion-heading  .help{
	position: absolute;
	top: 0.5em;
	right: -60px
}

.btn{
	background-color: #555;
	color: #fff;
	background-image: none;
	font-family: 'titillium-semibold';
	box-shadow: none !important;
	text-shadow: none !important;
	text-transform: uppercase;
	font-size: 0.9em;
	padding: 7px 18px;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	border: 1px solid #555 !important;
	border-radius: 4px !important;
	text-decoration: none !important;
}

.btn.indietro:before{
	content: "< ";
	font-weight: bold;
	font-size: 1.4em;
	margin-right: 8px;
	line-height: 0.9em;
}

.btn.annulla{
	background-color: #B60127;
	color: #fff;
	border: 1px solid #B60127 !important;
}

.btn.annulla:hover{
	background-color: #e6e6e6;
	color: #555;
}

.help .icona{
	background-color: inherit;
	color: inherit;
	background-image: url(../img/icona_info.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 35px;
	height: 35px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -20px;
	position: relative;
	top: 12px;
}

#footer{
	background-color: #555;
	color: #fff;
	border-top: 40px solid #d6012e;
	padding: 25px 40px;
	margin-top: 70px;
}

#footer ul {
    margin: 0;
    padding: 10px 0 30px;
    list-style: none;
}

#footer ul li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: inline;
}

#footer ul li a {
    background-color: inherit;
    color: #fff;
}

#footer  ul li:after {
    content: " | ";
    margin: 0 5px;
}

#footer  ul li:last-child:after {
    content: "";
    margin: 0;
}

#footer .license{
	font-size: 0.7em;
	margin-top: 25px;
	margin-bottom: 15px;
}

#footer .license img{
	display: block;
	margin-bottom: 8px;
}

@media (min-width: 600px){
	#footer .license img{
		float: left;
		margin: 2px 10px 30px 0;
	}
}

@media (min-width: 1100px){
	#footer .license img{
		float: left;
		margin: -2px 10px 30px 0;
	}
}
