{% extends 'main_survey/page_base.html' %}

{% load staticfiles %}

{% block content %}

{% autoescape off %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">

            <img src="{% static domanda.immagine %}" class="img-fluid">

				</div>

				<div class="col-md-8 text-center">

							<img src="{% static "img/logo.jpg" %}" class="img-fluid">

					<br>
					<br>


          <div class="row">
            <div class="col-md-12">

            <h1>

                {{ parente }}{{ domanda.testo_domanda }}

            </h1>
            </div>
          </div>
					<div class="row">
						<div class="col-md-12">

							{{ domanda.suggerimento }}

						</div>
					</div>

<br>



          <div class="row">
            <div class="col-md-12 question">

                {% block answer %}
                {% endblock %}

            </div>
          </div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8 text-center">
			{{ alert }}
		</div>
	</div>

    <img src="{% static domanda.barra_img %}">

</div>

{% endautoescape %}

{% endblock %}
