{% extends 'main_survey/page_base.html' %}

{% load staticfiles %}
{% load main_survey_extras %}

{% block content %}

{% autoescape off %}

<div>
  <div class="row">
    <div class="col-md-4 d-none d-md-block">
      <img src="{% static domanda.immagine %}" class="img-fluid">
    </div>

    <div class="col-md-8">
      <div class="mb-5 text-center">
        <img src="{% static 'img/logo.jpg' %}" class="img-fluid">
      </div>

      {% if alert %}
        <div class="alert alert-danger">
          {{ alert }}
        </div>
      {% endif %}

      <h1>{{ parente }}{{ domanda.testo_domanda }}</h1>
      <div class="mb-3">{{ domanda.suggerimento }}</div>
      <div>
        {% block answer %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% if domanda.barra_img != 'img/null.jpg' %}
    <div class="progress h-auto mt-5 progress-bar-striped">
      {% for img, label in trackSteps.items %}
      <div class="progress-bar {% if forloop.counter0 == trackSteps.keys|get_index:domanda.barra_img %}h5 m-0 py-1 text-white font-weight-bold{% elif forloop.counter0 < trackSteps.keys|get_index:domanda.barra_img %}text-white progress-bar-striped{% else %}text-dark bg-transparent{% endif %} {% if forloop.last %}px-2{% else %}w-25 px-1{% endif %}">
        <span class="text-truncate">{{ label }}</span>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endautoescape %}

{% endblock %}
