{% if lingua != "ar" and lingua != "zh" %}
<select id="{{ selectId }}" name="{{ selectId }}" class="form-control w-auto mw-100 m-auto" required>
  <option hidden disabled selected value="">
    {% if lingua == "it" %}Seleziona il Paese{% endif %}
    {% if lingua == "en" %}Select Country{% endif %}
    {% if lingua == "es" %}Selecciona el país{% endif %}
    {% if lingua == "fr" %}Sélectionnez le pays{% endif %}
  </option>
  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AS">American Samoa</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AI">Anguilla</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BM">Bermuda</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BV">Bouvet Island</option>
  <option value="BR">Brazil</option>
  <option value="IO">British Indian Ocean Territory</option>
  <option value="VG">British Virgin Islands</option>
  <option value="BN">Brunei</option>
  <option value="BF">Burkina Faso</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CA">Canada</option>
  <option value="CV">Cape Verde</option>
  <option value="KY">Cayman Islands</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CX">Christmas Island</option>
  <option value="CC">Cocos (Keeling) Islands</option>
  <option value="CO">Colombia</option>
  <option value="CG">Congo</option>
  <option value="CD">Congo - Democratic Republic of</option>
  <option value="CK">Cook Islands</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="CU">Cuba</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TP">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equitorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="ET">Ethiopia</option>
  <option value="FK">Falkland Islands (Islas Malvinas)</option>
  <option value="FO">Faroe Islands</option>
  <option value="FJ">Fiji</option>
  <option value="GF">French Guyana</option>
  <option value="PF">French Polynesia</option>
  <option value="TF">French Southern and Antarctic Lands</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GZ">Gaza Strip</option>
  <option value="GE">Georgia</option>
  <option value="GH">Ghana</option>
  <option value="GI">Gibraltar</option>
  <option value="GL">Greenland</option>
  <option value="GD">Grenada</option>
  <option value="GP">Guadeloupe</option>
  <option value="GU">Guam</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="HM">Heard Island and McDonald Islands</option>
  <option value="VA">Holy See (Vatican City)</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IR">Iran</option>
  <option value="IQ">Iraq</option>
  <option value="IL">Israel</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia - The Former Yugoslav Republic of</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MH">Marshall Islands</option>
  <option value="MQ">Martinique</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="YT">Mayotte</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia - Federated States of</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MS">Montserrat</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="MM">Myanmar</option>
  <option value="NA">Namibia</option>
  <option value="NR">Naura</option>
  <option value="NP">Nepal</option>
  <option value="AN">Netherlands Antilles</option>
  <option value="NC">New Caledonia</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NU">Niue</option>
  <option value="NF">Norfolk Island</option>
  <option value="KP">North Korea</option>
  <option value="MP">Northern Mariana Islands</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PN">Pitcairn Islands</option>
  <option value="PR">Puerto Rico</option>
  <option value="QA">Qatar</option>
  <option value="RE">Reunion</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="SH">Saint Helena</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="PM">Saint Pierre and Miquelon</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="GS">South Georgia and the South Sandwich Islands</option>
  <option value="KR">South Korea</option>
  <option value="LK">Sri Lanka</option>
  <option value="SD">Sudan</option>
  <option value="SR">Suriname</option>
  <option value="SJ">Svalbard</option>
  <option value="SZ">Swaziland</option>
  <option value="CH">Switzerland</option>
  <option value="SY">Syria</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TG">Togo</option>
  <option value="TK">Tokelau</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TC">Turks and Caicos Islands</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="US">United States</option>
  <option value="VI">United States Virgin Islands</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="WF">Wallis and Futuna</option>
  <option value="PS">West Bank</option>
  <option value="EH">Western Sahara</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>
{% endif %}

{% if lingua == "ar" %}
<select id="{{ selectId }}" name="{{ selectId }}" class="form-control w-auto mw-100 m-auto" required>
  <option hidden disabled selected value="">اختار البلد</option>
  <option value = "AF"> أفغانستان </option>
  <option value = "AL"> ألبانيا </option>
  <option value = "DZ"> الجزائر </option>
  <option value = "AS"> ساموا الأمريكية </option>
  <option value = "AD"> أندورا </option>
  <option value = "AO"> أنجولا </option>
  <option value = "AI"> أنغيلا </option>
  <option value = "AG"> أنتيغوا وبربودا </option>
  <option value = "AR"> الأرجنتين </option>
  <option value = "AM"> أرمينيا </option>
  <option value = "AW"> أروبا </option>
  <option value = "AU"> أستراليا </option>
  <option value = "AZ"> أذربيجان </option>
  <option value = "BS"> جزر البهاما </option>
  <option value = "BH"> البحرين </option>
  <option value = "BD"> بنغلاديش </option>
  <option value = "BB"> بربادوس </option>
  <option value = "BY"> بيلاروسيا </option>
  <option value = "BZ"> بليز </option>
  <option value = "BJ"> بنين </option>
  <option value = "BM"> برمودا </option>
  <option value = "BT"> بوتان </option>
  <option value = "BO"> بوليفيا </option>
  <option value = "BA"> البوسنة والهرسك </option>
  <option value = "BW"> بوتسوانا </option>
  <option value = "BV"> جزيرة بوفيت </option>
  <option value = "BR"> البرازيل </option>
  <option value = "IO"> إقليم المحيط الهندي البريطاني </option>
  <option value = "VG"> جزر فيرجن البريطانية </option>
  <option value = "BN"> بروناي </option>
  <option value = "BF"> بوركينا فاسو </option>
  <option value = "BI"> بوروندي </option>
  <option value = "KH"> كمبوديا </option>
  <option value = "CM"> الكاميرون </option>
  <option value = "CA"> كندا </option>
  <option value = "CV"> الرأس الأخضر </option>
  <option value = "KY"> جزر كايمان </option>
  <option value = "CF"> جمهورية إفريقيا الوسطى </option>
  <option value = "TD"> تشاد </option>
  <option value = "CL"> شيلي </option>
  <option value = "CN"> الصين </option>
  <option value = "CX"> جزيرة الكريسماس </option>
  <option value = "CC"> جزر كوكوس (كيلينغ) </option>
  <option value = "CO"> كولومبيا </option>
  <option value = "CG"> الكونغو </option>
  <option value = "CD"> الكونغو - جمهورية ديمقراطية </option>
  <option value = "CK"> جزر كوك </option>
  <option value = "CR"> كوستاريكا </option>
  <option value = "CI"> كوت ديفوار </option>
  <option value = "CU"> كوبا </option>
  <option value = "DJ"> جيبوتي </option>
  <option value = "DM"> دومينيكا </option>
  <option value = "DO"> جمهورية الدومينيكان </option>
  <option value = "TP"> تيمور الشرقية </option>
  <option value = "EC"> الإكوادور </option>
  <option value = "EG"> مصر </option>
  <option value = "SV"> السلفادور </option>
  <option value = "GQ"> غينيا الاستوائية </option>
  <option value = "ER"> إريتريا </option>
  <option value = "ET"> إثيوبيا </option>
  <option value = "FK"> جزر فوكلاند (جزر مالفيناس) </option>
  <option value = "FO"> جزر فارو </option>
  <option value = "FJ"> فيجي </option>
  <option value = "GF"> غيانا الفرنسية</option>
  <option value = "PF"> بولينيزيا الفرنسية </option>
  <option value = "TF"> الأراضي الفرنسية الجنوبية والقطب الجنوبي </option>
  <option value = "GA"> الغابون </option>
  <option value = "GM"> غامبيا </option>
  <option value = "GZ"> قطاع غزة </option>
  <option value = "GE"> جورجيا </option>
  <option value = "GH"> غانا </option>
  <option value = "GI"> جبل طارق </option>
  <option value = "GL"> جرينلاند </option>
  <option value = "GD"> غرينادا </option>
  <option value = "GP"> جوادلوب </option>
  <option value = "GU"> غوام </option>
  <option value = "GT"> غواتيمالا </option>
  <option value = "GN"> غينيا </option>
  <option value = "GW"> غينيا بيساو </option>
  <option value = "GY"> غيانا </option>
  <option value = "HT"> هايتي </option>
  <option value = "HM"> جزيرة هيرد وجزر ماكدونالد </option>
  <option value = "VA"> الكرسي الرسولي (مدينة الفاتيكان) </option>
  <option value = "HN"> هندوراس </option>
  <option value = "HK"> هونج كونج </option>
  <option value = "HU"> هنغاريا </option>
  <option value = "IS"> أيسلندا </option>
  <option value = "IN"> الهند </option>
  <option value = "ID"> إندونيسيا </option>
  <option value = "IR"> إيران </option>
  <option value = "IQ"> العراق </option>
  <option value = "IL"> إسرائيل </option>
  <option value = "JM"> جامايكا </option>
  <option value = "JP"> اليابان </option>
  <option value = "JO"> الأردن </option>
  <option value = "KZ"> كازاخستان </option>
  <option value = "KE"> كينيا </option>
  <option value = "KI"> كيريباتي </option>
  <option value = "KW"> الكويت </option>
  <option value = "KG"> قيرغيزستان </option>
  <option value = "LA"> لاوس </option>
  <option value = "LB"> لبنان </option>
  <option value = "LS"> ليسوتو </option>
  <option value = "LR"> ليبيريا </option>
  <option value = "LY"> ليبيا </option>
  <option value = "LI"> ليختنشتاين </option>
  <option value = "MO"> ماكاو </option>
  <option value = "MK"> مقدونيا - جمهورية يوغوسلافيا السابقة </option>
  <option value = "MG"> مدغشقر </option>
  <option value = "MW"> ملاوي </option>
  <option value = "MY"> ماليزيا </option>
  <option value = "MV"> جزر المالديف </option>
  <option value = "ML"> مالي </option>
  <option value = "MH"> جزر مارشال </option>
  <option value = "MQ"> المارتينيك </option>
  <option value = "MR"> موريتانيا </option>
  <option value = "MU"> موريشيوس </option>
  <option value = "YT"> جزيرة مايوت </option>
  <option value = "MX"> المكسيك </option>
  <option value = "FM"> ميكرونيزيا - الولايات المتحدة </option>
  <option value = "MD"> مولدوفا </option>
  <option value = "MC"> موناكو </option>
  <option value = "MN"> منغوليا </option>
  <option value = "ME"> الجبل الأسود </option>
  <option value = "MS"> مونتسيرات </option>
  <option value = "MA"> المغرب </option>
  <option value = "MZ"> موزمبيق </option>
  <option value = "MM"> ميانمار </option>
  <option value = "NA"> ناميبيا </option>
  <option value = "NP"> نيبال </option>
  <option value = "AN"> جزر الأنتيل الهولندية </option>
  <option value = "NC"> كاليدونيا الجديدة </option>
  <option value = "NZ"> نيوزيلندا </option>
  <option value = "NI"> نيكاراغوا </option>
  <option value = "NE"> النيجر </option>
  <option value = "NG"> نيجيريا </option>
  <option value = "NU"> نيوي </option>
  <option value = "NF"> جزيرة نورفولك </option>
  <option value = "KP"> كوريا الشمالية </option>
  <option value = "MP"> جزر ماريانا الشمالية </option>
  <option value = "NO"> النرويج </option>
  <option value = "OM"> عُمان </option>
  <option value = "PK"> باكستان </option>
  <option value = "PW"> بالاو </option>
  <option value = "PA"> بنما </option>
  <option value = "PG"> بابوا غينيا الجديدة </option>
  <option value = "PY"> باراجواي </option>
  <option value = "PE"> بيرو </option>
  <option value = "PH"> الفلبين </option>
  <option value = "PN"> جزر بيتكيرن </option>
  <option value = "PR"> بورتوريكو </option>
  <option value = "QA"> قطر </option>
  <option value = "RE"> لم الشمل </option>
  <option value = "RU"> روسيا </option>
  <option value = "RW"> رواندا </option>
  <option value = "SH"> سانت هيلانة </option>
  <option value = "KN"> سانت كيتس ونيفيس </option>
  <option value = "LC"> سانت لوسيا </option>
  <option value = "PM"> سان بيير وميكلون </option>
  <option value = "VC"> سانت فنسنت وجزر غرينادين </option>
  <option value = "WS"> ساموا </option>
  <option value = "SM"> سان مارينو </option>
  <option value = "ST"> ساو تومي وبرينسيبي </option>
  <option value = "SA"> المملكة العربية السعودية </option>
  <option value = "SN"> السنغال </option>
  <option value = "RS"> صربيا </option>
  <option value = "SC"> سيشيل </option>
  <option value = "SL"> سيراليون </option>
  <option value = "SG"> سنغافورة </option>
  <option value = "SB"> جزر سليمان </option>
  <option value = "SO"> الصومال </option>
  <option value = "ZA"> جنوب إفريقيا </option>
  <option value = "GS"> جورجيا الجنوبية وجزر ساندويتش الجنوبية </option>
  <option value = "KR"> كوريا الجنوبية </option>
  <option value = "LK"> سريلانكا </option>
  <option value = "SD"> السودان </option>
  <option value = "SR"> سورينام </option>
  <option value = "SJ"> سفالبارد </option>
  <option value = "SZ"> سوازيلاند </option>
  <option value = "CH"> سويسرا </option>
  <option value = "SY"> سوريا </option>
  <option value = "TW"> تايوان </option>
  <option value = "TJ"> طاجيكستان </option>
  <option value = "TZ"> تنزانيا </option>
  <option value = "TH"> تايلاند </option>
  <option value = "TG"> توغو </option>
  <option value = "TK"> توكيلاو </option>
  <option value = "TO"> تونغا </option>
  <option value = "TT"> ترينيداد وتوباغو </option>
  <option value = "TN"> تونس </option>
  <option value = "TR"> تركيا </option>
  <option value = "TM"> تركمانستان </option>
  <option value = "TC"> جزر تركس وكايكوس </option>
  <option value = "TV"> توفالو </option>
  <option value = "UG"> أوغندا </option>
  <option value = "UA"> أوكرانيا </option>
  <option value = "AE"> الإمارات العربية المتحدة </option>
  <option value = "US"> الولايات المتحدة </option>
  <option value = "VI"> جزر فيرجن التابعة للولايات المتحدة </option>
  <option value = "UY"> أوروغواي </option>
  <option value = "UZ"> أوزبكستان </option>
  <option value = "VU"> فانواتو </option>
  <option value = "VE"> فنزويلا </option>
  <option value = "VN"> فيتنام </option>
  <option value = "WF"> واليس وفوتونا </option>
  <option value = "PS"> الضفة الغربية </option>
  <option value = "EH"> الصحراء الغربية </option>
  <option value = "YE"> اليمن </option>
  <option value = "ZM"> زامبيا </option>
  <option value = "ZW"> زيمبابوي </option>
</select>
{% endif %}

{% if lingua == "zh" %}
<select id="{{ selectId }}" name="{{ selectId }}" class="form-control w-auto mw-100 m-auto" required>
    {% if lingua == "zh" %}选择国家{% endif %}
  <option value =“AF”>阿富汗</ option>
  <option value =“AL”>阿尔巴尼亚</ option>
  <option value =“DZ”>阿尔及利亚</ option>
  <option value =“AS”>美属萨摩亚</ option>
  <option value =“AD”>安道尔</ option>
  <option value =“AO”>安哥拉</ option>
  <option value =“AI”>安圭拉</ option>
  <option value =“AG”>安提瓜和巴布达</ option>
  <option value =“AR”>阿根廷</ option>
  <option value =“AM”>亚美尼亚</ option>
  <option value =“AW”> 阿鲁巴 </ option>
  <option value =“AU”>澳大利亚</ option>
  <option value =“AZ”>阿塞拜疆</ option>
  <option value =“BS”>巴哈马</ option>
  <option value =“BH”>巴林</ option>
  <option value =“BD”>孟加拉国</ option>
  <option value =“BB”>巴巴多斯</ option>
  <option value =“BY”>白俄罗斯</ option>
  <option value =“BZ”>伯利兹</ option>
  <option value =“BJ”>贝宁</ option>
  <option value =“BM”>百慕大</ option>
  <option value =“BT”> 不丹 </ option>
  <option value =“BO”>玻利维亚</ option>
  <option value =“BA”>波斯尼亚和黑塞哥维那</ option>
  <option value =“BW”>博茨瓦纳</ option>
  <option value =“BV”>布维岛</ option>
  <option value =“BR”>巴西</ option>
  <option value =“IO”>英属印度洋领地</ option>
  <option value =“VG”>英属维尔京群岛</ option>
  <option value =“BN”>文莱</ option>
  <option value =“BF”>布基纳法索</ option>
  <option value =“BI”>布隆迪</ option>
  <option value =“KH”>柬埔寨</ option>
  <option value =“CM”>喀麦隆</ option>
  <option value =“CA”> 加拿大 </ option>
  <option value =“CV”>佛得角</ option>
  <option value =“KY”>开曼群岛</ option>
  <option value =“CF”>中非共和国</ option>
  <option value =“TD”> 乍得 </ option>
  <option value =“CL”>智利</ option>
  <option value =“CN”>中国</ option>
  <option value =“CX”>圣诞岛</ option>
  <option value =“CC”>科科斯（基林）群岛</ option>
  <option value =“CO”>哥伦比亚</ option>
  <option value =“CG”>刚果</ option>
  <option value =“CD”>刚果 - 民主共和国</ option>
  <option value =“CK”>库克群岛</ option>
  <option value =“CR”>哥斯达黎加</ option>
  <option value =“CI”>科特迪瓦</ option>
  <option value =“CU”>古巴</ option>
  <option value =“DJ”>吉布提</ option>
  <option value =“DM”> 多米尼加 </ option>
  <option value =“DO”>多米尼加共和国</ option>
  <option value =“TP”>东帝汶</ option>
  <option value =“EC”>厄瓜多尔</ option>
  <option value =“EG”>埃及</ option>
  <option value =“SV”>萨尔瓦多</ option>
  <option value =“GQ”> 赤道 几内亚 </ option>
  <option value =“ER”>厄立特里亚</ option>
  <option value =“ET”>埃塞俄比亚</ option>
  <option value =“FK”>福克兰群岛（福克兰群岛）</ option>
  <option value =“FO”>法罗群岛</ option>
  <option value =“FJ”>斐济</ option>
  <option value =“GF”>法属圭亚那</ option>
  <option value =“PF”>法属波利尼西亚</ option>
  <option value =“TF”>法国南部和南极土地</ option>
  <option value =“GA”>加蓬</ option>
  <option value =“GM”>冈比亚</ option>
  <option value =“GZ”>加沙地带</ option>
  <option value =“GE”> 格鲁吉亚 </ option>
  <option value =“GH”>加纳</ option>
  <option value =“GI”> 直布罗陀 </ option>
  <option value =“GL”>格陵兰</ option>
  <option value =“GD”>格林纳达</ option>
  <option value =“GP”>瓜德罗普岛</ option>
  <option value =“GU”>关岛</ option>
  <option value =“GT”>危地马拉</ option>
  <option value =“GN”>几内亚</ option>
  <option value =“GW”>几内亚比绍</ option>
  <option value =“GY”>圭亚那</ option>
  <option value =“HT”>海地</ option>
  <option value =“HM”>赫德岛和麦当劳群岛</ option>
  <option value =“VA”>罗马教廷（梵蒂冈城）</ option>
  <option value =“HN”>洪都拉斯</ option>
  <option value =“HK”>香港</ option>
  <option value =“HU”>匈牙利</ option>
  <option value =“IS”> 冰岛 </ option>
  <option value =“IN”>印度</ option>
  <option value =“ID”>印度尼西亚</ option>
  <option value =“IR”>伊朗</ option>
  <option value =“IQ”>伊拉克</ option>
  <option value =“IL”>以色列</ option>
  <option value =“JM”>牙买加</ option>
  <option value =“JP”>日本</ option>
  <option value =“JO”> 约旦 </ option>
  <option value =“KZ”>哈萨克斯坦</ option>
  <option value =“KE”>肯尼亚</ option>
  <option value =“KI”>基里巴斯</ option>
  <option value =“KW”>科威特</ option>
  <option value =“KG”>吉尔吉斯斯坦</ option>
  <option value =“LA”>老挝</ option>
  <option value =“LB”>黎巴嫩</ option>
  <option value =“LS”>莱索托</ option>
  <option value =“LR”>利比里亚</ option>
  <option value =“LY”>利比亚</ option>
  <option value =“LI”>列支敦士登</ option>
  <option value =“MO”>澳门</ option>
  <option value =“MK”>马其顿 - 前南斯拉夫共和国</ option>
  <option value =“MG”>马达加斯加</ option>
  <option value =“MW”>马拉维</ option>
  <option value =“MY”>马来西亚</ option>
  <option value =“MV”>马尔代夫</ option>
  <option value =“ML”> 马里 </ option>
  <option value =“MH”>马绍尔群岛</ option>
  <option value =“MQ”> 马提尼克 </ option>
  <option value =“MR”>毛里塔尼亚</ option>
  <option value =“MU”>毛里求斯</ option>
  <option value =“YT”> 马约特 </ option>
  <option value =“MX”>墨西哥</ option>
  <option value =“FM”>密克罗尼西亚 - </ option>的联邦
  <option value =“MD”>摩尔多瓦</ option>
  <option value =“MC”> 摩纳哥 </ option>
  <option value =“MN”>蒙古</ option>
  <option value =“ME”>黑山</ option>
  <option value =“MS”>蒙特塞拉特</ option>
  <option value =“MA”>摩洛哥</ option>
  <option value =“MZ”>莫桑比克</ option>
  <option value =“MM”>缅甸</ option>
  <option value =“NA”>纳米比亚</ option>
  <option value =“NP”>尼泊尔</ option>
  <option value =“AN”>荷属安的列斯群岛</ option>
  <option value =“NC”>新喀里多尼亚</ option>
  <option value =“NZ”>新西兰</ option>
  <option value =“NI”>尼加拉瓜</ option>
  <option value =“NE”>尼日尔</ option>
  <option value =“NG”>尼日利亚</ option>
  <option value =“NU”>纽埃</ option>
  <option value =“NF”>诺福克岛</ option>
  <option value =“KP”>朝鲜</ option>
  <option value =“MP”>北马里亚纳群岛</ option>
  <option value =“NO”>挪威</ option>
  <option value =“OM”>阿曼</ option>
  <option value =“PK”>巴基斯坦</ option>
  <option value =“PW”>帕劳</ option>
  <option value =“PA”> 巴拿马 </ option>
  <option value =“PG”>巴布亚新几内亚</ option>
  <option value =“PY”>巴拉圭</ option>
  <option value =“PE”>秘鲁</ option>
  <option value =“PH”>菲律宾</ option>
  <option value =“PN”>皮特凯恩群岛</ option>
  <option value =“PR”>波多黎各</ option>
  <option value =“QA”>卡塔尔</ option>
  <option value =“RE”> 团圆 </ option>
  <option value =“RU”>俄罗斯</ option>
  <option value =“RW”>卢旺达</ option>
  <option value =“SH”>圣赫勒拿</ option>
  <option value =“KN”>圣基茨和尼维斯</ option>
  <option value =“LC”>圣卢西亚</ option>
  <option value =“PM”> 圣皮埃尔和密克隆 </ option>
  <option value =“VC”>圣文森特和格林纳丁斯</ option>
  <option value =“WS”>萨摩亚</ option>
  <option value =“SM”>圣马力诺</ option>
  <option value =“ST”>圣多美和普林西比</ option>
  <option value =“SA”>沙特阿拉伯</ option>
  <option value =“SN”>塞内加尔</ option>
  <option value =“RS”>塞尔维亚</ option>
  <option value =“SC”> 塞舌尔 </ option>
  <option value =“SL”>塞拉利昂</ option>
  <option value =“SG”>新加坡</ option>
  <option value =“SB”>所罗门群岛</ option>
  <option value =“SO”>索马里</ option>
  <option value =“ZA”>南非</ option>
  <option value =“GS”>南乔治亚岛和南桑威奇群岛</ option>
  <option value =“KR”>韩国</ option>
  <option value =“LK”>斯里兰卡</ option>
  <option value =“SD”>苏丹</ option>
  <option value =“SR”>苏里南</ option>
  <option value =“SJ”> 斯瓦尔巴 </ option>
  <option value =“SZ”>斯威士兰</ option>
  <option value =“CH”>瑞士</ option>
  <option value =“SY”>叙利亚</ option>
  <option value =“TW”>台湾</ option>
  <option value =“TJ”>塔吉克斯坦</ option>
  <option value =“TZ”>坦桑尼亚</ option>
  <option value =“TH”>泰国</ option>
  <option value =“TG”> 多哥 </ option>
  <option value =“TK”> 托克劳 </ option>
  <option value =“TO”>汤加</ option>
  <option value =“TT”>特立尼达和多巴哥</ option>
  <option value =“TN”>突尼斯</ option>
  <option value =“TR”>土耳其</ option>
  <option value =“TM”>土库曼斯坦</ option>
  <option value =“TC”>特克斯和凯科斯群岛</ option>
  <option value =“TV”>图瓦卢</ option>
  <option value =“UG”>乌干达</ option>
  <option value =“UA”>乌克兰</ option>
  <option value =“AE”>阿拉伯联合酋长国</ option>
  <option value =“US”>美国</ option>
  <option value =“VI”>美属维尔京群岛</ option>
  <option value =“UY”>乌拉圭</ option>
  <option value =“UZ”>乌兹别克斯坦</ option>
  <option value =“VU”>瓦努阿图</ option>
  <option value =“VE”>委内瑞拉</ option>
  <option value =“VN”>越南</ option>
  <option value =“WF”> 瓦利斯和富图纳群岛 </ option>
  <option value =“PS”> 西方银行 </ option>
  <option value =“EH”>西撒哈拉</ option>
  <option value =“YE”>也门</ option>
  <option value =“ZM”>赞比亚</ option>
  <option value =“ZW”>津巴布韦</ option>
</select>
{% endif %}
