{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row mt-5">
    <div class="col-md-4 offset-md-8 text-center">
      <button type="submit" class="btn btn-primary">
        {% if lingua == "it" %}Avanti{% endif %}
        {% if lingua == "en" %}Next{% endif %}
        {% if lingua == "es" %}Adelante{% endif %}
        {% if lingua == "ar" %}الى الأمام{% endif %}
        {% if lingua == "zh" %}下一步{% endif %}
        {% if lingua == "fr" %}Suivant{% endif %}
      </button>
    </div>
  </div>
</form>

{% endblock %}
