{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row mb-4 align-items-center">
    <div class="col-md-5 mb-1 mb-md-0 offset-md-2 text-md-right">
      <h3 class="mb-1">
        Benvenuto in MyJourney!
      </h3>
    </div>
    <div class="col-md-4 text-md-left">
      <button type="submit" class="btn btn-primary" name="lingua" value="it">Inizia</button>
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-5 mb-1 mb-md-0 offset-md-2 text-md-right">
      <h3 class="mb-1">
        Welcome to MyJourney!
      </h3>
    </div>
    <div class="col-md-4 text-md-left">
      <button type="submit" class="btn btn-primary" name="lingua" value="en">Start</button>
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-5 mb-1 mb-md-0 offset-md-2 text-md-right">
      <h3 class="mb-1">
        Bienvenido a MyJourney!
      </h3>
    </div>
    <div class="col-md-4 text-md-left">
      <button type="submit" class="btn btn-primary" name="lingua" value="es">Comienzo</button>
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-5 mb-1 mb-md-0 offset-md-2 text-md-right">
      <h3 class="mb-1">
        مرحبًا بك في MyJourney!
      </h3>
    </div>
    <div class="col-md-4 text-md-left">
      <button type="submit" class="btn btn-primary" name="lingua" value="ar">بداية</button>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5 mb-1 mb-md-0 offset-md-2 text-md-right">
      <h3 class="mb-1">
        欢迎来到MyJourney!
      </h3>
    </div>
    <div class="col-md-4 text-md-left">
      <button type="submit" class="btn btn-primary" name="lingua" value="zh">开始</button>
    </div>
  </div>
</form>

{% endblock %}
