{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="" id="form">{% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="si" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="si" required v-model="canHost">
        <label class="custom-control-label" for="si">
          {% include '../answers_blocks/si.html' %}
        </label>
      </div>
    </div>

    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="no" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="no" required v-model="canHost">
        <label class="custom-control-label" for="no">
          {% include '../answers_blocks/no.html' %}
        </label>
      </div>
    </div>

    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="ospite" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="ospite" required v-model="canHost">
        <label class="custom-control-label" for="ospite">
          {% if lingua == "it" %}Sono ospite{% endif %}
          {% if lingua == "en" %}I am a guest{% endif %}
          {% if lingua == "ar" %}أنا ضيف{% endif %}
          {% if lingua == "es" %}Soy huésped{% endif %}
          {% if lingua == "zh" %}我是一个房客{% endif %}
          {% if lingua == "fr" %}Je suis invité(e){% endif %}
        </label>
      </div>
    </div>
  </div>

  <div v-if="canHost === 'si' || canHost === 'ospite'">
    {% include '../answers_blocks/address_input.html' %}
  </div>

  {% include '../answers_blocks/nav_block.html' %}
</form>

<script type="text/javascript">
  new Vue({
    el: '#form',
    data: {
      canHost: null,
      queryAddress: '',
      queryCity: '',
      address: '',
      city: '',
      src: null,
      alertText: null
    },
    methods: {
      search: function () {
        var that = this;
        var cityReplace = this.queryCity.toLowerCase().replace('milano', 'milan'); // Nominatim search best in english
        this.alertText = null;
        axios.get('https://nominatim.openstreetmap.org/?format=json&dedupe=1&addressdetails=1&city=' + cityReplace + '&street=' + this.queryAddress)
          .then(function (response) {
            var found = response.data && response.data[0];
            if (found != null) {
              var bbox = [found.boundingbox[2], found.boundingbox[0], found.boundingbox[3], found.boundingbox[1]];
              that.address = found.address.road;
              that.city = found.display_name.replace(found.address.road + ', ', '');
              that.src = 'https://www.openstreetmap.org/export/embed.html?bbox=' + encodeURIComponent(bbox) + '&layer=mapnik&marker=' + encodeURIComponent([found.lat, found.lon]);
            } else {
              that.alertText = 'Nessun indirizzo trovato. Cerca ancora';
            }
          }).catch(function (error) { that.alertText = 'Problema di rete. Cerca ancora' });
      }
    }
  })
</script>
{% endblock %}
