{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="" id="hostForm">{% csrf_token %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <select class="form-control text-center" name="posso_ospitare_in_alloggio" id="posso_ospitare_in_alloggio" required v-model="canHost">
          <option hidden disabled selected value="">Seleziona un'opzione...</option>
          <option value="si">Si</option>
          <option value="no">No</option>
          <option value="ospite">Sono ospite</option>
        </select>
      </div>

      <div v-if="canHost === 'si'">
        {% include '../answers_blocks/address_input.html' %}
      </div>
    </div>
  </div>
  {% include '../answers_blocks/nav_block.html' %}
</form>

<script type="text/javascript">
  new Vue({
    el: '#hostForm',
    data: {
      canHost: ''
    }
  })
</script>

{% endblock %}
