{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="" id="form">{% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="si" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="si" required v-model="canHost">
        <label class="custom-control-label" for="si">Si</label>
      </div>
    </div>

    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="no" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="no" required v-model="canHost">
        <label class="custom-control-label" for="no">No</label>
      </div>
    </div>

    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="ospite" name="posso_ospitare_in_alloggio" class="custom-control-input" type="radio" value="ospite" required v-model="canHost">
        <label class="custom-control-label" for="ospite">Sono ospite</label>
      </div>
    </div>
  </div>

  <div v-if="canHost === 'si'">
    {% include '../answers_blocks/address_input.html' %}
  </div>

  {% include '../answers_blocks/nav_block.html' %}
</form>

<script type="text/javascript">
  new Vue({
    el: '#form',
    data: {
      canHost: null,
      queryAddress: '',
      queryCity: '',
      address: '',
      city: '',
      src: null
    },
    methods: {
      search: function () {
        var that = this;
        var cityReplace = this.queryCity.toLowerCase().replace('milano', 'milan'); // Nominatim search best in english
        axios.get('https://nominatim.openstreetmap.org/?format=json&dedupe=1&addressdetails=1&city=' + cityReplace + '&street=' + this.queryAddress)
          .then(function (response) {
            var found = response.data && response.data[0] || { address: {} }
            var bbox = [found.boundingbox[2], found.boundingbox[0], found.boundingbox[3], found.boundingbox[1]];
            that.address = found.address.road;
            that.city = found.display_name.replace(found.address.road + ', ', '');
            that.src = 'https://www.openstreetmap.org/export/embed.html?bbox=' + encodeURIComponent(bbox) + '&layer=mapnik&marker=' + encodeURIComponent([found.lat, found.lon]);
          })
      }
    }
  })
</script>
{% endblock %}
