{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}

  <div class="row text-center">

    <div class="col-md-2">
      </div>

      <input class="col-md-2" type="number" name="n_tot_coinquilini" step="1" min="0" max="10" value="0"> persone, di cui <input class="col-md-2" type="number" name="n_tot_coinquilini_min_14" step="1" min="0" max="10" value="0"> con meno di 14 anni

      <div class="col-md-2">
        </div>

  </div>

  <div class="row text-center">

    <div class="col-md-4">
      </div>

    <button type="submit" class="btn btn-secondary col-md-4" name="n_tot_coinquilini" value="0">Vivo da solo</button>

    <div class="col-md-4">
      </div>

  </div>


  <div class="row">
    <div class="col-md-4 text-center">
      <button type="submit" name="flag_back" value="True" class="btn btn-secondary">Indietro</button>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4 text-center">
      <button type="submit" class="btn btn-outline-primary">Avanti</button>
    </div>

  </div>

</form>

{% endblock %}
