{% extends 'main_survey/specific_page.html' %}

{% block answer %}
<form method="post" action="">{% csrf_token %}
  <div class="row">
    <div class="col-md-8 offset-md-2 justify-content-center form-inline">
      <div class="form-group">
        <div class="mx-2">
          <input class="form-control" type="number" id="coinquilini_a_carico" name="coinquilini_a_carico" step="1" min="0" value="0" max="5">
        </div>
        <label for="coinquilini_a_carico">persone</label>
      </div>
    </div>
  </div>
  {% include '../answers_blocks/nav_block.html' %}
</form>

{% endblock %}
