{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <button name="tipo_partner" class="btn btn-block btn-primary" type="submit" value="coniuge">Coniuge</button>
    </div>

    <div class="col-md-4 offset-md-2">
      <button name="tipo_partner" class="btn btn-block btn-primary" type="submit" value="partner_unito_civilmente">Partner unito civilmente</button>
    </div>
  </div>
  {% include '../answers_blocks/nav_block.html' with noNext=True %}
</form>

{% endblock %}
