{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row">

    <div class="col-md-2">
      </div>

    <div class="col-md-2 text-center">

      <div class="custom-control custom-radio">

        <input id="coniuge" name="tipo_partner" class="custom-control-input" type="radio" value="coniuge">
        <label class="custom-control-label" for="coniuge">Coniuge</label>

      </div>

    </div>

    <div class="col-md-2 text-center">

      <div class="custom-control custom-radio">

        <input id="partner unito civilmente" name="tipo_partner" class="custom-control-input" type="radio" value="civile">
        <label class="custom-control-label" for="partner unito civilmente">Partner unito civilmente</label>

      </div>

    </div>

</div>

  <div class="row">


  <div class="col-md-8">
  </div>


  <div class="col-md-4 text-center">

  <br>
  <br>

  <button type="submit" class="btn btn-outline-secondary">Avanti</button>
  </div>

  <div class="col-md-2">
  </div>

  </div>

</form>

{% endblock %}
