{% extends 'main_survey/answers_blocks/layout_center.html' %}

{% block center %}
<div class="col-md-4 text-center">
  <div class="custom-control custom-radio custom-control-inline">
    <input id="si" name="fratelli_o_sorelle_residenti_con_genitore" class="custom-control-input" type="radio" value="si">
    <label class="custom-control-label" for="si">Si</label>
  </div>
</div>

<div class="col-md-4 text-center">
  <div class="custom-control custom-radio custom-control-inline">
    <input id="no" name="fratelli_o_sorelle_residenti_con_genitore" class="custom-control-input" type="radio" value="no">
    <label class="custom-control-label" for="no">No</label>
  </div>
</div>
{% endblock %}
