{% extends 'main_survey/answers_blocks/layout_center.html' %}

{% block center %}
<div class="col-md-4 text-center">
  <button class="btn btn-primary" name="fratelli_possono_mantenere_genitore" type="submit" value="si">Si</button>
</div>
<div class="col-md-4 text-center">
  <button class="btn btn-primary" name="fratelli_possono_mantenere_genitore" type="submit" value="no salute">No, per motivi di salute</button>
</div>
<div class="col-md-4 text-center">
  <button class="btn btn-primary" name="fratelli_possono_mantenere_genitore" type="submit" value="no altro">No, per altri motivi</button>
</div>
{% endblock %}
