{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row">
    <div class="col-md-4 offset-md-2 text-center">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="si" name="certificato_fratelli" class="custom-control-input" type="radio" value="si">
        <label class="custom-control-label" for="si">Si</label>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="no salute" name="certificato_fratelli" class="custom-control-input" type="radio" value="no salute">
        <label class="custom-control-label" for="no">No</label>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 text-center">
      <button type="submit" name="flag_back" value="True" class="btn btn-secondary">Indietro</button>
    </div>

    <div class="col-md-4 offset-md-4 text-center">
      <button type="submit" class="btn btn-outline-primary">Avanti</button>
    </div>
  </div>
</form>

{% endblock %}
