{% extends 'main_survey/answers_blocks/layout_select.html' %}

{% block select %}

<select class="form-control w-auto m-auto" name="tipologia_lavoro">
  <option value="None">Seleziona una tipologia di lavoro</option>
  <option value="dipendente">Lavoratore dipendente</option>
  <option value="domestico">Lavoratore domestico</option>
  <option value="titolare_ditta">Lavoratore autonomo</option>
  <option value="partecipazione_società">Partecipazione in società</option>
  <option value="socio_lavoratore">Socio lavoratore</option>
  <option value="libero_professionista">Libero professionista</option>
  <option value="no">Non svolgo alcun lavoro</option>
</select>

{% endblock %}
