{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row">
    <div class="col-md-4 offset-md-2 text-center">
        <button type="submit" name="reddito_sufficiente" class="btn btn-primary" value="si">Maggiore di {{ reddito }} €</button>
    </div>

    <div class="col-md-4 text-center">
        <button type="submit" name="reddito_sufficiente" class="btn btn-primary" value="no">Minore di {{ reddito }} €</button>
    </div>
  </div>
  {% include '../answers_blocks/nav_block.html' with noNext=True %}
</form>

{% endblock %}
