{% extends 'main_survey/specific_page.html' %}

{% block answer %}

{% autoescape off %}

<form method="post" action="">{% csrf_token %}

  <div class="row mt-5">
    {% if noNext is not True %}
      <div class="col-6 col-md-4 offset-md-1 order-1 text-center">
        <button type="submit" name="flag_back" value="True" formnovalidate class="btn btn-primary">
            {% if lingua == "it" %}Indietro{% endif %}
            {% if lingua == "en" %}Back{% endif %}
            {% if lingua == "es" %}Atrás{% endif %}
            {% if lingua == "ar" %}الى الخلف{% endif %}
            {% if lingua == "zh" %}退后{% endif %}
            {% if lingua == "fr" %}Précédent{% endif %}
          </button>
        </button>
      </div>
    {% endif %}

    <div class="col-6 col-md-5 order-2 text-center">
        <button type="submit" name="guida" class="btn btn-outline-dark" value="no">
          {% if lingua == "it" %}Termina il questionario{% endif %}
          {% if lingua == "en" %}End the questionnaire{% endif %}
          {% if lingua == "ar" %}الإنتهاء من الإستبيان{% endif %}
          {% if lingua == "es" %}Termina el cuestionario{% endif %}
          {% if lingua == "zh" %} 结束问答{% endif %}
          {% if lingua == "fr" %}Complétez le questionnaire{% endif %}
        </button>
    </div>
  </div>
</form>

{% endautoescape %}

{% endblock %}
