{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}

  <div class="row">

    <div class="col-md-2">
      </div>

    <div class="col-md-8 text-center">

      <select class="dropdown" id="tipologia_permesso" name="tipologia_permesso">
        <option value="None">Seleziona un'opzione</option>
        <option value="lavoro subordinato">Lavoro subordinato</option>
        <option value="lavoro autonomo">Lavoro autonomo</option>
        <option value="studio">Studio</option>
        <option value="motivi religiosi">Motivi religiosi</option>
        <option value="motivi familiari">Motivi familiari</option>
        <option value="motivi familiari">Motivi umanitari</option>
        <option value="asilo politico">Asilo politico/protezione sussidiaria</option>


      </select>

    </div>

    <div class="col-md-2">
    </div>

</div>

  <div class="row">


  <div class="col-md-8">
  </div>


  <div class="col-md-4 text-center">

  <br>
  <br>

  <button type="submit" class="btn btn-primary">Avanti</button>
  </div>

  <div class="col-md-2">
  </div>

  </div>

</form>

{% endblock %}
