{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="form-group">
    <div>
      <input type="text" class="form-control datepicker w-auto mw-100 m-auto text-center" id="datepicker" name="scadenza_permesso" value="Inserisci una data">
    </div>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-secondary" name="scadenza_permesso" value="illimitato">Illimitato</button>
  </div>
  {% include '../answers_blocks/nav_block.html' %}
</form>

{% endblock %}
