{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="" id="dateForm">{% csrf_token %}
  <div class="row">
    <div class="col-md-4 offset-md-2 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="si" name="scadenza_permesso" class="custom-control-input" type="radio" value="illimitato" required v-model="type">
        <label class="custom-control-label" for="si">Illimitato</label>
      </div>
    </div>

    <div class="col-md-4 text-center form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="no" name="scadenza_permesso" class="custom-control-input" type="radio" value="" required v-model="type">
        <label class="custom-control-label" for="no">A scadenza</label>
      </div>
    </div>
  </div>

  <div class="row" v-if="type === ''">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <vuejs-datepicker input-class="form-control text-center bg-white" calendar-class="w-auto" format="dd/MM/yyyy" name="scadenza_permesso" placeholder="Inserisci una data" required></vuejs-datepicker>
      </div>
    </div>
  </div>
  {% include '../answers_blocks/nav_block.html' %}
</form>

<script type="text/javascript">
  new Vue({
    el: '#dateForm',
    data: {
      type: null
    },
    components: {
      vuejsDatepicker
    }
  })
</script>

{% endblock %}
