{% extends 'main_survey/page_base.html' %}

{% load staticfiles %}

{% block content %}

{% autoescape off %}

<div>
{{ a }}
</div>

<div>
{{ b }}
</div>

<ul>
{{ b1 }}
{{ b2 }}
{{ b3_1 }}
{{ b3_2 }}
{{ b4 }}
{{ b5 }}
{{ b6 }}
{{ b7 }}
</ul>

<div>
{{ c }}
</div>

<ul>
{{ c1 }}
{{ c2_1 }}
{{ c2_2 }}
{{ c2_3 }}
{{ c3 }}
</ul>

<div>
{{ d }}
</div>

<ul>
{{ d1 }}
{{ d2 }}
{{ d3_1 }}
{{ d3_2 }}
{{ d3_3 }}
{{ d3_4 }}
</ul>

<div>
{{ e }}
</div>

<p>
{{ f }}
</p>

<p>
{{ g }}
</p>

<p>
{{ h }}
</p>

<p>
{{ i }}
</p>

{% endautoescape %}

{% endblock %}
