{% extends 'main_survey/page_base.html' %}

{% load staticfiles %}

{% block content %}
<script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<link href="{% static 'css/guida.css' %}" rel="stylesheet" media="all" />

{% autoescape off %}

<div class="text-center">
  <img class="img-fluid" src="{% static 'img/logo.jpg' %}">
</div>

<div class="d-flex justify-content-between">
  <div>
    {{ a }}
  </div>
  <button class="btn btn-dark" type="button" onclick="printJS({printable: 'body', type: 'html', css: ['static/css/bootstrap-build-custom.min.css', 'static/css/static-fonts.css', 'static/css/global.css', 'static/css/print.css'], maxWidth: Infinity})">
    Scarica la tua guida
  </button>
</div>

<div class="row my-5 align-items-center">
  <div class="col-3">
    <img class="img-fluid px-lg-5" src="{% static 'img/famiglia_bn.jpg' %}">
  </div>
  <div class="col-9">
    <div>
      {{ b }}
    </div>

    <ul>
      {{ b1 }}
      {{ b2 }}
      {{ b3_1 }}
      {{ b3_2 }}
      {{ b4 }}
      {{ b5 }}
      {{ b6 }}
      {{ b7 }}
    </ul>
  </div>
</div>

<div class="row my-5 align-items-center">
  <div class="col-3">
    <img class="img-fluid px-lg-5" src="{% static 'img/casa_bn.jpg' %}">
  </div>
  <div class="col-9">
    <div>
    {{ c }}
    </div>

    <ul>
    {{ c1 }}
    {{ c2_1 }}
    {{ c2_2 }}
    {{ c2_3 }}
    {{ c3 }}
    </ul>
  </div>
</div>

<div class="row my-5 align-items-center">
  <div class="col-3">
    <img class="img-fluid px-lg-5" src="{% static 'img/workers.png' %}">
  </div>
  <div class="col-9">
    <div>
    {{ d }}
    </div>

    <ul>
    {{ d1 }}
    {{ d2 }}
    {{ d3_1 }}
    {{ d3_2 }}
    {{ d3_3 }}
    {{ d3_4 }}
    </ul>
  </div>
</div>

<div>
{{ e }}
</div>

<div class="row">
  <p class="col-4">
  {{ f }}
  </p>

  <p class="col-4">
  {{ g }}
  </p>

  <p class="col-4">
  {{ h }}
  </p>
</div>

<p class="small">
{{ i }}
</p>

{% endautoescape %}

{% endblock %}
