{% extends 'main_survey/specific_page.html' %}

{% block answer %}

<form method="post" action="">{% csrf_token %}
  <div class="row">

    <div class="col-md-2">
    </div>

        <button name="tipo_partner" class="btn btn-primary col-md-4 text-center" type="submit" value="coniuge">Coniuge</button>
        <div class="col-md-2"></div>
        <button name="tipo_partner" class="btn btn-primary col-md-4 text-center" type="submit" value="partner_unito_civilmente">Partner unito civilmente</button>

    <div class="col-md-2 text-center">
    </div>

</div>

<br><br><br><br><br><br><br>

<div class="row">
  <div class="col-md-4 text-center">
    <button type="submit" name="flag_back" value="True" class="btn btn-secondary">Indietro</button>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center">
  </div>

</div>

</form>

{% endblock %}
