{% extends 'main_survey/page_base.html' %}

{% load staticfiles %}

{% block content %}

{% autoescape off %}

<br><h4>
{{ a }}
</h4><br><h4>

<br><h4>
{{ b }}

</h4><br><h4>
{{ b1 }}

</h4><br><h4>


{{ b2 }}

</h4><br><h4>


{{ b3_1 }}

</h4><br><h4>


{{ b3_2 }}

</h4><br><h4>


{{ b4 }}

</h4><br><h4>


{{ b5 }}

</h4><br><h4>


{{ b6 }}

</h4><br><h4>


{{ b7 }}

</h4><br><h4>


{{ c }}

</h4><br><h4>


{{ c1 }}

</h4><br><h4>


{{ c2_1 }}

</h4><br><h4>


{{ c2_2 }}

</h4><br><h4>


{{ c2_3 }}

</h4><br><h4>


{{ c3 }}

</h4><br><h4>


{{ d }}

</h4><br><h4>


{{ d1 }}

</h4><br><h4>


{{ d2 }}

</h4><br><h4>


{{ d3_1 }}

</h4><br><h4>


{{ d3_2 }}

</h4><br><h4>


{{ d3_3 }}

</h4><br><h4>


{{ d3_4 }}

</h4><br><h4>


{{ e }}

</h4><br><h4>


{{ f }}

</h4><br><h4>


{{ g }}

</h4><br><h4>


{{ h }}

</h4><br><h4>


{{ i }}

</h4><br><h4>


{% endautoescape %}

{% endblock %}
