<header>
	<h1><a href="#" title="vai al sito istituzionale del Comune di Milano">Comune di Milano</a></h1>
	<p id="logo"><a href="#" title="vai al sito istituzionale del Comune di Milano"><img src="img/logo_milano.png" alt="logo del Comune di Milano"></a></p>

	<h2 id="navinterna" class="sr-only">Menu di navigazione interna alla pagina</h2>
	<ul class="sr-only">
		<li><a title="vai al contenuto di questa pagina" href="#ancoracontenuto">Contenuto di pagina</a></li>
		<li><a title="vai a ..." href="#ancora...">...</a></li>
	</ul>

	<h2 id="menusocial" class="sr-only">Menu utente</h2>
	<ul class="social">
		<li class="contatti"><a title="scrivi al Comune di Milano" href="#">Esci</a></li>
	</ul>
	<p class="sr-only"><a href="#navinterna" title="torna alla navigazione interna alla pagina">Torna alla navigazione interna</a></p>
</header>
